<div class="container">
  <div class="row">
    <div class="col mt-5">
      <h1>welcome to <b>Meshiterro2</b></h1>
      <p>In <b>Meshiterro</b><br>
      SNS community that indiscriminately stimulates the appetite of sensible citizens.
      </p>

      <%= link_to "Log in", user_session_path, class: "btn btn-info" %>
      <%= link_to "Sign Up", new_user_session_path, class: "btn btn-success" %>
    </div>
  </div>
</div>

